@model Library.Models.Books

@{
    ViewData["Title"] = "Create";
    Layout = "_DashBoard";
}

<h1>Create</h1>

<h4>Books</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Pages" class="control-label"></label>
                <input asp-for="Pages" class="form-control" />
                <span asp-validation-for="Pages" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label">Upload Image</label>
                <input asp-for="ImageFile" type="file" accept=".jpg,.png" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AuthorId" class="control-label"></label>
                <select asp-for="AuthorId" class="form-control"
                        asp-items="@(new SelectList((List<Library.Models.Authors>)ViewData["Authors"], "Id", "Name"))">
                    <option value="">-- Select Author --</option>
                </select>
                <span asp-validation-for="AuthorId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control"
                        asp-items="@(new SelectList((List<Library.Models.Categories>)ViewData["Dep"], "Id", "Name"))">
                    <option value="">-- Select Category --</option>
                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>

    </div>
</div>

<div>
    <a asp-action="Books" asp-controller="Admin">Back to List</a>
</div>

