<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>DASHBOARD</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Library.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/dashboard.css" />
</head>
<body>
    <aside class="sidebar">
        <div>
            <div class="logo">DASHBOARD</div>
            <nav class="menu">
                <a asp-action="Index" asp-controller="Admin">📊 Dashboard</a>
                <a asp-action="Books" asp-controller="Admin" >📚 Books</a>
                <a asp-action="Categories" asp-controller="Admin">📂 Categories</a>
                <a asp-action="Authors" asp-controller="Admin">👥 Authors</a>
                <a href="#">👥 Users</a>
            </nav>
        </div>
        <div class="sidebar-footer">© 2025 Mohamed Abeid</div>
    </aside>

    <div class="main">
        <div class="topbar">
            <button class="btn-profile">Profile</button>
            <a asp-action="Index" asp-controller="Home" class="btn-profile">Back To WebSite</a>
        </div>
         <div class="content">
        @RenderBody()
          </div> 
        <!-- <div class="table-section">
            <h3 style="margin-bottom: 12px">Recent Borrows</h3>
            <table>
              <thead>
                <tr>
                  <th>Book</th>
                  <th>User</th>
                  <th>Date</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1984</td>
                  <td>John Doe</td>
                  <td>2025-09-15</td>
                  <td>Borrowed</td>
                </tr>
                <tr>
                  <td>Pride and Prejudice</td>
                  <td>Jane Smith</td>
                  <td>2025-09-14</td>
                  <td>Returned</td>
                </tr>
                <tr>
                  <td>The Great Gatsby</td>
                  <td>Adam Lee</td>
                  <td>2025-09-13</td>
                  <td>Borrowed</td>
                </tr>
              </tbody>
            </table>
          </div> -->
        <!-- </div> -->

        <div class="footer">© 2025 Mohamed Abeid Dashboard • All rights reserved</div>
    </div>
    @RenderSection("Scripts", required: false)

</body>
</html>
