@model List<Authors>

@{
    ViewData["Title"] = "Index";
}

<main class="container1">
    <div class="section-head">
        <h3>Available Authors</h3>
        <div style="color:var(--muted);font-weight:600">Showing @(Model?.Count() ?? 0) Authors</div>
    </div>


    <div class="grid">
        @foreach (var item in Model)
        {
            <div class="card">
                <h4>@item.Name</h4>
                <div class="actions">
                    <a class="small-btn borrow" asp-action="GetAuthor" asp-controller="Authors" asp-route-id="@item.Id">View</a>
                </div>
            </div>
        }
    </div>


</main>


